https://www.kaggle.com/kumargh/pimaindiansdiabetescsv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("D:/Kaggle/pima-indians-diabetes.csv")
columns = ['preg','plas','pres','skin','test','mass','pedi','age','class']
df.columns = columns
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       1    85    66    29     0  26.6  0.351   31      0
1       8   183    64     0     0  23.3  0.672   32      1
2       1    89    66    23    94  28.1  0.167   21      0
3       0   137    40    35   168  43.1  2.288   33      1
4       5   116    74     0     0  25.6  0.201   30      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
762    10   101    76    48   180  32.9  0.171   63      0
763     2   122    70    27     0  36.8  0.340   27      0
764     5   121    72    23   112  26.2  0.245   30      0
765     1   126    60     0     0  30.1  0.349   47      1
766     1    93    70    31     0  30.4  0.315   23      0

[767 rows x 9 columns]

In [7]:
X = df.values[:,0:8]
y = df.values[:,8]

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [20]:
kfolds = KFold(n_splits=10, random_state=7)
model = RandomForestClassifier()
score = cross_val_score(model, X, y, cv=kfolds)
print(score)

C:\Anaconda\envs\tf\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

[0.7012987  0.83116883 0.72727273 0.64935065 0.80519481 0.79220779
 0.81818182 0.85526316 0.71052632 0.81578947]

In [21]:
print('Accuracy: %.3f' % (score.mean()*100))

Accuracy: 77.063